.payment-form{

float:left;
margin-left: 15px;
margin-top: 15px;

}

.movie-box {
    width: 70%;
    height: 300px;
    padding: 10px;
  
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 1px 1px 2px #444;
    
}


body {
    font-family: Arial;
    margin: 0;
    margin-left: 80px;
    margin-right: 80px;

}

.movielist-title{
    margin-top: 20px;
    text-align: center;
    
}

h2.movielist{
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
    margin: 10px;
    
}
.table table-bordered{
width:10%;
}