<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Filmliste</title>
</head>
<body>
<div class="container">
    <h2 class="movielist-title">Filmliste</h2>
    <table>
        <tr th:each="movie : ${Movies}">
            <h5 class="card-title" th:text="${movie.name}">...</h5>
            <a th:href="@{'/movie/' + ${movie.id}}" class="btn btn-light">Auswählen</a>
        </tr>
    </table>

</div>

</body>
</html>