<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Filmansicht</title>
</head>

<body>
<div class="container">
    <h2 class="movielist-title">Datum/Uhrzeit</h2>
    <table class="table">


        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
                <th>Samstag</th>
                <th>Sonntag</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="show : ${shows}">
                <td  th:if="${show.day == T(com.example.demo.Model.Day).MONTAG}">
                    <a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>
                <td th:if="${show.day == T(com.example.demo.Model.Day).DIENSTAG}"
                   ><a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>
                <td th:if="${show.day == T(com.example.demo.Model.Day).MITTWOCH}">
                    <a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>
                <td th:if="${show.day == T(com.example.demo.Model.Day).DONNERSTAG}">
                    <a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>
                <td th:if="${show.day == T(com.example.demo.Model.Day).FREITAG}">
                    <a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>
                <td th:if="${show.day == T(com.example.demo.Model.Day).SAMSTAG}">
                    <a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>
                <td th:if="${show.day == T(com.example.demo.Model.Day).SONNTAG}">
                    <a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>
                <td th:if="${show.day == T(com.example.demo.Model.Day).FREITAG}">
                    <a th:text="${show.timeOfDay}" th:href="@{'/show/' + ${show.id}}"></a></td>

            </tr>
            </tbody>
        </table>
</div>
</div>
</body>
</html>