<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Film erstellen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<form th:action="@{/movies}"
      th:object="${Movie}"
      method="POST">

    Filmname: <input type="text" th:field="*{name}"/>
    <br/><br/>

    <input type="submit" value="Speichern"/>

</form>
</body>
</html>