<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show zum Film erstellen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<form th:action="@{'/shows/{movieId}'(movieId=${Movie.id})}"
      th:object="${Show}"
      method="POST">

    Tag:

    <select th:field="*{day}">
    <option th:each="days : ${T(com.example.demo.Model.Day).values()}"
            th:value="${days}"
            th:text="${days}">
    </option>
     </select>

    <label for="example-time-input" class="col-2 col-form-label">Uhrzeit</label>
    <div class="col-10">
        <input class="form-control" type="time" value="13:45:00" id="example-time-input" th:field="*{timeOfDay}">
    </div>

    <input type="submit" value="Speichern"/>

</form>
</body>
</html>