<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Sitzansicht</title>

</head>

<body>
<div class="seats" style="margin-top: 100px; margin-left: 400px;">
    <div class="row">
        <h2 class="movielist-title"> Wähle deinen gewünschten Sitzplatz aus</h2>
    </div>
</div>

<table class="table table-bordered" style="
text-align: center;
width: 50%;
height: 50%;
margin-left: 300px;
">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">A</th>
        <th scope="col">B</th>
        <th scope="col">C</th>
        <th scope="col">D</th>
        <th scope="col">E</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="seat : ${seats}">
        <th scope="row">1</th>
        <td><input type="checkbox" name="vehicle1" th:value="${seat.id}">
        </td>
        <td><input type="checkbox" name="vehicle1" th:value="${seat.id}">
        </td>
        <td><input type="checkbox" name="vehicle1" th:value="${seat.id}">
        </td>
        <td><input type="checkbox" name="vehicle1" th:value="${seat.id}">
        </td>
        <td><input type="checkbox" name="vehicle1" th:value="${seat.id}">
        </td>
    </tr>
    </tbody>
</table>
<table>
    <tr th:each="movie : ${Movies}">
        <h5 class="card-title" th:text="${movie.name}">...</h5>
        <a th:href="@{'/movie/' + ${movie.id}}" class="btn btn-light">Auswählen</a>
    </tr>
</table>
<a th:href="@{'/zahlen/'}" class="btn btn-light" style="
    float: right;
    margin-right: 240px;
    margin-top: 20px;
">Weiter zur Bezahlung</a>

</body>
</html>